#icecream-gallery {
  column-count: 6;
  column-gap: 0.3rem;

  > img {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 1500px) {
  #icecream-gallery {
    column-count: 5;
  }
}

@media (max-width: 1200px) {
  #icecream-gallery {
    column-count: 4;
  }
}

@media (max-width: 900px) {
  #icecream-gallery {
    column-count: 3;
  }
}

@media (max-width: 600px) {
  #icecream-gallery {
    column-count: 2;
  }
}

@media (max-width: 300px) {
  #icecream-gallery {
    column-count: 1;
  }
}
