#icecream-gallery {
  column-count: 3;
  column-gap: 0.3rem;

  > img {
    height: 100%;
    width: 100%;
  }
}

.icecream-gallery-inside-picture {
  width: 100%;
}

@media (max-width: 600px) {
  #icecream-gallery {
    column-count: 2;
  }
}

@media (max-width: 300px) {
  #icecream-gallery {
    column-count: 1;
  }
}
