body header nav span#header-about:hover a {
  color: #99ffcc !important;
}

body header nav span#header-resume:hover a {
  color: #99ccff !important;
}

body header nav span#header-projects:hover a {
  color: #cc99ff !important;
}

body header nav span#header-contact:hover a {
  color: #ffccff !important;
}

/* HEADER */
header {
  width: 100%;
  height: 5%;
  padding: 25px;
  position: fixed;
  top: 0;
  left: 0;
  background: white;
  font-family: "Roboto";
  font-weight: 500;
  color: #000000 !important;
  text-transform: uppercase;
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

#logo {
  height: 75px;
}

#footer-logo {
  height: 18px;
}

body {
  font-family: "Roboto";
  color: #000000 !important;
}

.row {
  display: flex;
  flex-direction: row; /* everything in row displayed in horizontal format */
}

nav {
  justify-content: flex-end; /* every item in nav on right */
  padding-right: 25px;
  align-items: center; /*centre items vertically for now */
}

a:first-child {
  margin-right: auto;
}

span:first-child {
  margin-right: auto;
}

span {
  margin-right: 50px;
}

/* HOME */
section {
  margin-top: 100px;
}

/* FOOTER */
footer {
  width: 100%;
  height: 8%;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  background: white;
  justify-content: center; /* every item in footer centred */
  align-items: center; /*centre items vertically for now */
  font-size: 13px;
}

footer a {
  margin-right: 0 !important;
}
