body header nav span#header-projects a {
  color: #cc99ff !important;
}

#capture {
  height: 500px;
  cursor: pointer;
  margin-right: 100px;
}

main {
  overflow: visible;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

body {
  overflow-x: hidden;
}

div.modal-body img {
  width: 300px;
  margin-top: 30px;
}

#capture-modal {
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#musescore {
  height: 500px;
  cursor: pointer;
}

#musescore-modal {
  overflow: visible;
  display: flex;
  flex-direction: column;
  align-items: center;
}