body header nav span#header-projects a {
    color: #cc99ff !important;
  }

  #capture {
    height: 500px;
  }

  main {
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  body {
    overflow-x: hidden;
  }