header {
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
}

#logo {
  padding: 0.25rem;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}
