header {
  height: 15vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5; // the higher the z-index, the higher the priority to get shown (ex. so the image doesn't overlap the header)
}

#logo {
  padding: 0.25rem;
  font-size: 2.5rem;
  font-weight: bold;
  cursor: pointer;
}

#toggle {
  cursor: pointer;
}
