#page-not-found {
  height: 65vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  h1 {
    margin-top: 0;
  }

  img {
    margin-left: 2rem;
  }
}

@media (max-width: 1190px) {
  #page-not-found {
    h1 {
      font-size: 7rem;
    }

    h2 {
      font-size: 3.5rem;
    }
  }
}

@media (max-width: 1100px) {
  #page-not-found {
    height: 100%;
    flex-direction: column;
    justify-content: center;

    h2 {
      font-size: 3rem;
    }

    img {
      margin-left: 0;
      margin-top: 2rem;
    }
  }
}

@media (max-width: 660px) {
  #page-not-found {
    h1 {
      font-size: 6.5rem;
    }

    h2 {
      font-size: 2.5rem;
    }

    img {
      margin-bottom: 2rem;
    }
  }
}

@media (max-width: 560px) {
  #page-not-found {
    h1 {
      font-size: 6rem;
    }

    h2 {
      font-size: 2rem;
    }
  }
}

@media (max-width: 450px) {
  #page-not-found {
    h1 {
      font-size: 4rem;
    }

    h2 {
      font-size: 1.5rem;
    }
  }
}
