<div id="home-title">
  <div id="karen">{{ firstName }}</div>
  <div *ngIf="lastName === ' Kwok'" id="space-kwok">&nbsp;Kwok</div>
  <div *ngIf="lastName !== ' Kwok'" id="space-kwok">
    {{ lastName }}
  </div>
</div>

<div id="skills-wrapper">
  <h1>Skills</h1>
  <div>
    <h2>Languages</h2>
    <div id="blue-buttons" class="skills-buttons">
      <button>Python</button>
      <button>C#</button>
      <button>Java</button>
      <button>C</button>
      <button>R</button>
    </div>
    <h2>Web</h2>
    <div id="blue-green-buttons" class="skills-buttons">
      <button>HTML</button>
      <button>CSS/SCSS</button>
      <button>JavaScript</button>
    </div>
    <h2>Technologies</h2>
    <div id="green-buttons" class="skills-buttons">
      <button>Unity</button>
      <button>Adobe Photoshop</button>
    </div>
  </div>
</div>
<div id="projects-wrapper">
  <h1>Projects</h1>
  <img
    *ngIf="showHover === false"
    id="outsidepiano"
    (mouseenter)="showHoverBlack()"
    src="../assets/outsidepiano.png"
    [ngClass]="{ hover: showHover }"
  />
  <div
    *ngIf="showHover === true"
    id="outsidepianoblack"
    (mouseleave)="hideHoverBlack()"
  >
    SenseTech NeuroRehab Piano Game
  </div>
</div>
