$light-purple: rgba(187, 175, 253, 0.3);
$dark-dark-purple: #2504d6;

#skill-types {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  #skill-web {
    width: 35vw;
  }

  #skill-languages {
    width: 25vw;
  }

  #skill-technologies {
    width: 20vw;
  }

  .skill-names {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .skill-bubble {
      margin-right: 0.7rem;
      margin-top: 0.4rem;
      margin-bottom: 0.4rem;
      padding-left: 0.7rem;
      padding-right: 0.7rem;
      padding-top: 0.3rem;
      padding-bottom: 0.3rem;

      border-radius: 0.6rem;
      background-color: $light-purple;
      color: $dark-dark-purple;
    }
  }
}
