#skill-types {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  #skill-web {
    width: 35vw;
  }

  #skill-languages {
    width: 23vw;
  }

  #skill-technologies {
    width: 22vw;
  }
}
