h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.8rem;
  font-weight: bold;
}

h5 {
  font-size: 1.4rem;
  font-weight: lighter;
}

#skill-types {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  .skill-names {
    display: flex;
    flex-direction: row;
  }
}
