#title {
  margin-bottom: 20rem;

  #title-subtext {
    margin-top: 12rem;
    font-size: 2.5rem;
    font-weight: lighter;

    display: grid;
    grid-template-columns: 1fr 15fr;
    column-gap: 2rem;

    #emoji-1 {
      grid-row: 1;
      grid-column: 1;
      text-align: center;
      vertical-align: middle;
    }

    #emoji-2 {
      grid-row: 2;
      grid-column: 1;
      text-align: center;
      vertical-align: middle;
    }

    #emoji-3 {
      grid-row: 3;
      grid-column: 1;
      text-align: center;
      vertical-align: middle;
    }

    #text-1 {
      grid-row: 1;
      grid-column: 2;
      vertical-align: middle;
    }

    #text-2 {
      grid-row: 2;
      grid-column: 2;
      vertical-align: middle;
    }

    #text-3 {
      grid-row: 3;
      grid-column: 2;
      vertical-align: middle;
    }
  }
}
