.no-margin-bottom {
  margin-bottom: 0rem;
}

.yes-margin-top {
  margin-top: 1rem;
}

#popeyes {
  text-decoration: none;

  #chicken {
    outline: none;
  }
}

#bonus-last-line {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
