$project-dimension: 22vw;

.project-square {
  height: $project-dimension;
  width: $project-dimension;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //border: 0.0625rem solid black;
  border-radius: 2rem;

  img {
    height: $project-dimension;
    width: $project-dimension;
    border-radius: 2rem;
  }
}
