@import './Colours.scss';

#App {
  padding-left: 10vw;
  padding-right: 10vw;
  display: flex;
  flex-direction: column;

  background-color: $black;
  color: $white;

  ::selection {
    background-color: $purple;
    color: $white;
  }
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4rem;
}

a:-webkit-any-link {
  outline: none;
  text-decoration: none;
  color: $white;

  &:hover {
    color: $purple;
    cursor: pointer;
  }
}
