#App {
  display: flex;
  flex-direction: column;
  padding-left: 10vw;
  padding-right: 10vw;
  background-color: #00020a;
  color: #fcf5e7;

  ::selection {
    color: #fcf5e7;
    background-color: #6a4fff;
  }
}

h1 {
  font-size: 8rem;
}

h2 {
  font-size: 4rem;
}

a:-webkit-any-link {
  color: #fcf5e7;
  text-decoration: none;
  outline: none;

  &:hover {
    color: #6a4fff;
  }
}
