/* App.scss, Header.scss, Utsearch.scss, Footer.scss*/

$nightmode-background: #18191a;
$nightmode-text: #f3f2f7;

// header
$nightmode-header: #242526;

// skills
$bubble: #bbaffd4d;
$purple-text: #2504d6;

$nightmode-bubble: #3021806b;
$nightmode-purple-text: #6a4fff;

// highlight
$underline: #2504d6;
$highlight: #bbaffd;

$nightmode-underline: #6a4fff;
$nightmode-highlight: #4b38b9;

// buttons
$button-border: #0000003b;
$button-icon: #a3a2a5;

$nightmode-button-border: #a3a2a56b;
$nightmode-button-border-hover: #a3a2a5;
$nightmode-button-icon: #a3a2a5;

$nightmode-button-hover: #2d2e2f;

// utsearch app button
$nightmode-utsearch-app: #6a4fff;
$nightmode-utsearch-app-hover: #4b38b9;
$react-blue: #61dafb;

// project dates
$date: gray;

// project button links
$app-btn: #2504d6;
$app-btn-hover: #3930d8;

$btn-text: #262626;
$btn-outline: lightgray;
$btn-outline-hover: #2504d6;

$nightmode-app-btn: #6a4fff;
$nightmode-app-btn-hover: #7e7bff;

$nightmode-btn-text: #f3f2f7d7;
$nightmode-btn-outline: rgba(105, 105, 105, 0.349);
$nightmode-btn-outline-hover: #6a4fff;

// footer icons
$icon: #262626;
$linkedin-blue: #0077b5;
