$black: #00020a; // background
$white: #fcf5e7; // text
$gray: #ffffff1f; // card and tooltip
$purple: #6a4fff; // accent

$white-border: #fcf5e724; // skill border
$white-text: #fcf5e7ab; // skill text

$bumble-section-background: #e8f8f5; // light cyan
$bumble-item: #d1f2eb; // cyan
$bumble-highlight: #f1c4f2; // light pink
$bumble-text: #2c3e50; // dark gray
