/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");

$blue: #66ffff;
$blue-green: #66ffcc;
$green: #66ff99;
$dark-gray: #262626;

* {
  font-family: "Nunito", sans-serif;
}

body {
  padding: {
    left: 300px;
    right: 300px;
    top: 20px;
    bottom: 20px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    div {
      button#about {
        color: $dark-gray;
        border-color: $dark-gray;

        &:active,
        &:hover {
          color: white;
          background-color: $blue;
          border-color: $blue;
        }

        &:focus {
          box-shadow: 0 0 0 0.2rem $blue;
          border-color: white;
        }
      }

      button#skills {
        color: $dark-gray;
        border-color: $dark-gray;

        &:active,
        &:hover {
          color: white;
          background-color: $blue-green;
          border-color: $blue-green;
        }

        &:focus {
          box-shadow: 0 0 0 0.2rem $blue-green;
          border-color: white;
        }
      }

      button#projects {
        color: $dark-gray;
        border-color: $dark-gray;

        &:active,
        &:hover {
          color: white;
          background-color: $green;
          border-color: $green;
        }

        &:focus {
          box-shadow: 0 0 0 0.2rem $green;
          border-color: white;
        }
      }
    }
  }

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0;
      margin: 0;

      li {
        list-style: none;

        a {
          width: 80px;
          height: 80px;
          background-color: #fff;
          text-align: center;
          line-height: 80px;
          font-size: 35px;
          margin: 0 10px;
          display: block;
          border-radius: 50%;
          position: relative;
          overflow: hidden;
          z-index: 1;

          .icon {
            position: relative;
            color: #262626;
            transition: 0.5s;
            z-index: 3;
          }

          &:hover .icon {
            color: #fff;
            transform: rotateX(360deg);
          }

          &:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: #f00;
            transition: 0.5s;
            z-index: 2;
          }

          &:hover:before {
            top: 0;
          }
        }
      }

      li {
        &:nth-child(1) a:before {
          background: #000000;
        }

        &:nth-child(2) a:before {
          background: #0077b5;
        }

        &:nth-child(3) a:before {
          background: #3b5999;
        }

        &:nth-child(4) a:before {
          background: #c4318d;
        }
      }
    }

    p {
      font-size: 20px;
      text-align: center;
    }
  }
}
