// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import "~@angular/material/theming";
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$personal-website-primary: mat-palette($mat-indigo);
$personal-website-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$personal-website-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$personal-website-theme: mat-light-theme(
  (
    color: (
      primary: $personal-website-primary,
      accent: $personal-website-accent,
      warn: $personal-website-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($personal-website-theme);

/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");

$blue: #66ffff;
$blue-green: #66ffcc;
$green: #66ff99;
$dark-gray: #262626;

* {
  font-family: "Nunito", sans-serif;
}

body {
  padding: {
    left: 300px;
    right: 300px;
    top: 0px;
    bottom: 20px;
  }
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    button#logo {
      font-weight: 900;
      font-size: 60px;
      color: #202124;
      font-family: "Roboto", sans-serif;
    }

    div#tabs {
      display: flex;
      flex-direction: row;
      height: fit-content;

      button {
        margin-left: 20px;
        font-size: 22px !important;
        border: none !important;
        background-color: white !important;
      }

      button#about {
        color: $dark-gray;

        &:active,
        &:hover {
          color: $blue;
        }

        &:focus {
          box-shadow: 0 0 0 0.2rem $blue;
        }
      }

      button#skills {
        color: $dark-gray;

        &:active,
        &:hover {
          color: $blue-green;
        }

        &:focus {
          box-shadow: 0 0 0 0.2rem $blue-green;
        }
      }

      button#projects {
        color: $dark-gray;

        &:active,
        &:hover {
          color: $green;
        }

        &:focus {
          box-shadow: 0 0 0 0.2rem $green;
        }
      }
    }

    * {
      box-sizing: border-box;
      &:before,
      &:after {
        content: "";
        position: absolute;
      }
    }

    input {
      height: 40px;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      width: 40px;
    }

    .toggle-wrapper {
      flex: 1 1 calc(100% / 3);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      position: fixed;
      top: 32px;
      right: 60px;
      @media (max-width: 960px) {
        flex: 1 1 calc(100% / 2);
      }
      @media (max-width: 700px) {
        flex: 1 1 100%;
      }
    }

    .toggle {
      position: relative;
      display: inline-block;
    }

    label.toggle-item {
      width: 7.6em;
      background: #2e394d;
      height: 3em;
      display: inline-block;
      border-radius: 50px;
      position: relative;
      transition: all 0.3s ease;
      transform-origin: 20% center;
      cursor: pointer;
      &:before {
        display: block;
        transition: all 0.2s ease;
        width: 2.3em;
        height: 2.3em;
        top: 0.25em;
        left: 0.25em;
        border-radius: 2em;
        border: 2px solid #88cf8f;
        transition: 0.3s ease;
      }
    }

    .dog-rollover {
      label {
        &:before {
          content: none;
        }
        .dog {
          display: inline-block;
          position: absolute;
          width: 2.5em;
          height: 2.5em;
          top: 0.25em;
          left: 0.2em;
          transition: 0.6s ease;
        }
        .eyes {
          position: absolute;
          width: 8px;
          height: 8px;
          background: #222;
          border-radius: 50%;
          transform: translate(8px, 14px);
          box-shadow: 16px 0 0 #222, 22px -4px 0 12px #e4ac04;
          top: -3px;
          left: -2.5px;
        }
        .ear {
          width: 18px;
          height: 20px;
          position: absolute;
          left: -4px;
          bottom: 80%;
          background: #f9bb00;
          margin-bottom: -5px;
          border-radius: 50% 50% 0 0 / 100% 100% 0 0;
          box-shadow: inset 4px 0 0 0px #ffffff, inset -4px 0 0 0px #ffffff;
          transform: rotate(-40deg);
          &.right {
            transform: rotate(60deg) scaleX(-1);
            left: auto;
            transform-origin: center bottom;
            transition: 0.4s ease-in-out;
            right: 0px;
          }
        }
        .face {
          overflow: hidden;
          border-radius: 50%;
          width: 2.5em;
          height: 2.5em;
          position: absolute;
          background: #fff;
          z-index: 8;
        }
        .mouth {
          position: absolute;
          background: #222;
          width: 14px;
          height: 7px;
          left: 50%;
          margin-left: -7px;
          bottom: 12px;
          border-radius: 2px 2px 20px 20px;
          bottom: 8px;
          transform: scale(0);
          transition: 0.1s ease;
          &:before {
            width: 8px;
            height: 8px;
            background: #ec788d;
            border-radius: 0 0 50% 50%;
            transform: translate(3px, 5px);
          }
        }
        &:before {
          border-color: white;
          background: white;
        }
      }
    }

    #doggo:checked {
      ~ .cup {
        animation: 0.2s linear cup 1s forwards;
      }
      + label {
        .dog {
          left: 68px;
          transform: rotate(360deg);
        }
        .mouth {
          transform: scale(1);
          transition-delay: 0.7s;
        }
        .ear.right {
          transform: scaleX(-1) rotate(-35deg);
          transition-delay: 0.6s;
        }
      }
    }
  }

  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 0;
      margin: 0;

      li {
        list-style: none;

        a {
          width: 80px;
          height: 80px;
          background-color: #fff;
          text-align: center;
          line-height: 80px;
          font-size: 35px;
          margin: 0 10px;
          display: block;
          border-radius: 50%;
          position: relative;
          overflow: hidden;
          z-index: 1;

          .icon {
            position: relative;
            color: #262626;
            transition: 0.5s;
            z-index: 3;
          }

          &:hover .icon {
            color: #fff;
            transform: rotateX(360deg);
          }

          &:before {
            content: "";
            position: absolute;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            background: #f00;
            transition: 0.5s;
            z-index: 2;
          }

          &:hover:before {
            top: 0;
          }
        }
      }

      li {
        &:nth-child(1) a:before {
          background: #000000;
        }

        &:nth-child(2) a:before {
          background: #0077b5;
        }

        &:nth-child(3) a:before {
          background: #3b5999;
        }

        &:nth-child(4) a:before {
          background: #c4318d;
        }
      }
    }

    p {
      font-size: 20px;
      text-align: center;
    }
  }
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
