$react-light-blue: #61dafb;
$primary-main-purple: #3B1CDF;

.utsearch-btns {
  display: flex;
  flex-direction: row;
  margin-bottom: 1em;

  .utsearch-btn {
    margin-right: 0.5rem;

    i {
      font-size: 1.5rem;
    }
  }
}

#utsearch-app-btn {
  &:hover {
    #utsearch-app {
      color: $react-light-blue;
    }
  }
}

#utsearch-youtube-btn {
  #utsearch-youtube {
    color: $primary-main-purple;
  }

  &:hover {
    #utsearch-youtube {
      color: red;
    }
  }
}

#utsearch-github-btn {
  #utsearch-github {
    color: $primary-main-purple;
  }

  &:hover {
    #utsearch-github {
      color: black;
    }
  }
}
