.utsearch-btns {
  display: flex;
  flex-direction: row;

  .utsearch-btn {
    margin-right: 0.5rem;

    i {
      font-size: 1.5rem;
    }
  }
}

#utsearch-app-btn {
  &:hover {
    #utsearch-app {
      color: #61dafb;
    }
  }
}

#utsearch-youtube-btn {
  #utsearch-youtube {
    color: #3B1CDF;
  }
  
  &:hover {
    #utsearch-youtube {
      color: red;
    }
  }
}

#utsearch-github-btn {
  #utsearch-github {
    color: #3B1CDF;
  }

  &:hover {
    #utsearch-github {
      color: black;
    }
  }
}
