@import "../../../Colours.scss";

.dark {
  .MuiButton-containedPrimary {
    background-color: $nightmode-utsearch-app;
    transition: 0.5s;

    &:hover {
      background-color: $nightmode-utsearch-app-hover;
    }
  }

  #utsearch-youtube-btn {
    border: 1px solid $nightmode-button-border;
    color: $nightmode-text;
    transition: 0.5s;

    &:hover {
      border: 1px solid $nightmode-button-border-hover;
      background-color: $nightmode-button-hover;
    }
  }

  #utsearch-github-btn {
    border: 1px solid $nightmode-button-border;
    color: $nightmode-text;
    transition: 0.5s;

    &:hover {
      border: 1px solid $nightmode-button-border-hover;
      background-color: $nightmode-button-hover;
    }
  }
}

#utsearch-page {
  min-height: 65vh;

  .utsearch-btns {
    display: flex;
    flex-direction: row;
    margin-bottom: 1em;

    .utsearch-btn {
      margin-right: 0.5rem;

      i {
        font-size: 1.5rem;
      }
    }
  }

  #utsearch-app-btn {
    &:hover {
      #utsearch-app {
        color: $react-blue;
      }
    }
  }

  #utsearch-youtube-btn {
    border: 1px solid $button-border;
    transition: 0.5s;

    &:hover {
      border: 1px solid $nightmode-button-border-hover;
    }

    #utsearch-youtube {
      color: $button-icon;
    }

    &:hover {
      #utsearch-youtube {
        color: red;
      }
    }
  }

  #utsearch-github-btn {
    border: 1px solid $button-border;
    transition: 0.5s;

    &:hover {
      border: 1px solid $nightmode-button-border-hover;
    }

    #utsearch-github {
      color: $button-icon;
    }

    &:hover {
      #utsearch-github {
        color: black;
      }
    }
  }
}

@media (max-width: 600px) {
  .utsearch-btns {
    flex-direction: column;

    .utsearch-btn {
      margin-top: 0.5rem;
    }
  }
}
