footer {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-right: 0.5rem;
      margin-bottom: 1.25rem;

      a {
        width: 5rem;
        height: 5rem;
        background-color: #fff;
        text-align: center;
        line-height: 5rem;
        font-size: 2.1875rem;
        margin: 0 0.625rem;
        display: block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        z-index: 1;

        .icon {
          position: relative;
          color: #262626;
          transition: 0.5s;
          z-index: 3;
        }

        &:hover .icon {
          color: #fff;
          transform: rotateX(360deg);
        }

        &:before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          background: #f00;
          transition: 0.5s;
          z-index: 2;
        }

        &:hover:before {
          top: 0;
        }
      }
    }

    li {
      margin-top: 1.875rem;

      &:nth-child(1) a:before {
        background: #0077b5;
      }

      &:nth-child(2) a:before {
        background: #000000;
      }
    }
  }
  
  #paper-plane {
    font-size: 1.2rem;
  }
}
