@import "../Colours.scss";

.dark {
  footer {
    ul {
      li {
        a {
          background-color: $nightmode-background;
          .icon {
            color: $nightmode-text;
            transition: 0.5s;
          }
        }
      }
    }

    #email {
      color: $nightmode-text;
      transition: 0.5s;

      &:hover {
        color: $nightmode-purple-text;
      }
    }
  }
}

footer {
  height: 20vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-right: 0.5rem;
      margin-bottom: 1.25rem;

      a {
        width: 5rem;
        height: 5rem;
        background-color: white;
        text-align: center;
        line-height: 5rem;
        font-size: 2.1875rem;
        margin: 0 0.625rem;
        display: block;
        border-radius: 50%;
        position: relative;
        overflow: hidden;
        z-index: 1;

        .icon {
          position: relative;
          color: $icon;
          transition: 0.5s;
          z-index: 3;
        }

        &:hover .icon {
          color: white;
          transform: rotateX(360deg);
        }

        &:before {
          content: "";
          position: absolute;
          top: 100%;
          left: 0;
          width: 100%;
          height: 100%;
          background: red;
          transition: 0.5s;
          z-index: 2;
        }

        &:hover:before {
          top: 0;
        }
      }
    }

    li {
      margin-top: 1.875rem;

      &:nth-child(1) a:before {
        background: $linkedin-blue;
      }

      &:nth-child(2) a:before {
        background: black;
      }
    }
  }

  #email {
    transition: 0.5s;

    &:hover {
      color: $purple-text;
      cursor: pointer;
    }
  }

  /* Tooltip container */
  .tooltip {
    position: relative;
    display: inline-block;
  }

  /* Tooltip text */
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    height: 20px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 4px 0;
    border-radius: 6px;
    bottom: 100%;
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
    font-size: small;
    font-weight: bolder;
    margin-bottom: 0.5vh;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
  }

  /* Show the tooltip text when you mouse over the tooltip container */
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
}

@media (max-width: 580px) {
  footer {
    height: 100%;
    flex-direction: column;
  }
}

@media (max-width: 225px) {
  footer {
    ul {
      flex-direction: column;
    }
  }
}
