@import '../../Colours.scss';

.item {
  margin-right: 0.7rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-radius: 1rem;

  font-size: 1.25rem;
  font-weight: 600;

  background-color: $yellow;
  color: $dark-gray;
}
