@import '../../Colours.scss';

.item {
  margin-right: 0.6rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1rem;

  font-size: 1.25rem;
  font-weight: 600;

  background-color: $bumble-item;
  color: $bumble-text;

  .item-emoji {
    margin-right: 0.5rem;
  }
}

@media (max-width: 1400px) {
  .item {
    font-size: 1rem;
  }
}

@media (max-width: 1190px) {
  .item {
    font-size: 0.9rem;
  }
}

@media (max-width: 1110px) {
  .item {
    font-size: 0.85rem;
  }
}

@media (max-width: 1100px) {
  .item {
    font-size: 1.1rem;
  }
}

@media (max-width: 990px) {
  .item {
    font-size: 1rem;
  }
}

@media (max-width: 926px) {
  .item {
    font-size: 0.95rem;
  }
}

@media (max-width: 893px) {
  .item {
    font-size: 0.9rem;
  }
}

@media (max-width: 861px) {
  .item {
    font-size: 2rem;
  }
}

@media (max-width: 800px) {
  .item {
    font-size: 1.9rem;
  }
}

@media (max-width: 765px) {
  .item {
    font-size: 1.8rem;
  }
}

@media (max-width: 731px) {
  .item {
    font-size: 1.7rem;
  }
}

@media (max-width: 695px) {
  .item {
    font-size: 1.6rem;
  }
}

@media (max-width: 659px) {
  .item {
    font-size: 1.5rem;
  }
}

@media (max-width: 624px) {
  .item {
    font-size: 1.4rem;
  }
}

@media (max-width: 590px) {
  .item {
    font-size: 1.3rem;
  }
}

@media (max-width: 558px) {
  .item {
    font-size: 1.25rem;
  }
}

@media (max-width: 542px) {
  .item {
    font-size: 1.2rem;
  }
}

@media (max-width: 528px) {
  .item {
    font-size: 1.15rem;
  }
}

@media (max-width: 512px) {
  .item {
    font-size: 1.1rem;
  }
}

@media (max-width: 495px) {
  .item {
    font-size: 1.05rem;
  }
}

@media (max-width: 478px) {
  .item {
    font-size: 1rem;
  }
}

@media (max-width: 463px) {
  .item {
    font-size: 0.95rem;
  }
}

@media (max-width: 446px) {
  .item {
    font-size: 0.9rem;
  }
}

@media (max-width: 433px) {
  .item {
    font-size: 0.85rem;
  }
}

@media (max-width: 414px) {
  .item {
    font-size: 0.8rem;
  }
}

@media (max-width: 400px) {
  .item {
    font-size: 1.2rem;
  }
}

@media (max-width: 395px) {
  .item {
    font-size: 1.15rem;
  }
}

@media (max-width: 384px) {
  .item {
    font-size: 1.1rem;
  }
}

@media (max-width: 372px) {
  .item {
    font-size: 1rem;
  }
}

@media (max-width: 350px) {
  .item {
    font-size: 0.95rem;
  }
}

@media (max-width: 339px) {
  .item {
    font-size: 0.9rem;
  }
}

@media (max-width: 329px) {
  .item {
    font-size: 0.85rem;
  }
}

@media (max-width: 316px) {
  .item {
    font-size: 0.8rem;
  }
}

@media (max-width: 306px) {
  .item {
    font-size: 0.9rem;
  }
}
