.experience-card {
  .experience-company {
    font-weight: bolder;
  }

  .experience-date-location {
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;

    font-size: 1.5rem;

    .experience--date-location {
      width: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .experience-emoji {
      margin-right: 1rem;
    }
  }
}
